*.swp
*.swo
.idea
__pycache__
*.sqlite3
.DS_Store
.env
staticfiles
*.pyc
*.pyo
gitversion
nogit
APNS_Cert.pem
APNS_Key.pem
APNS_Production_Cert.pem
APNS_Production_Key.pem
APNS_Sandbox_Cert.pem
APNS_Sandbox_Key.pem
.idea
